.Baker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url('https://i.imgur.com/1TEjAN5.jpg');
  background-size: cover;
}

.card {
  margin: 2rem;
  min-width: 400px;
}
