.Header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #222;
  color: #fafafa;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  height: var(--header-height);
  align-items: center;
}

.Header h2 {
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}
