.Ingredients {
  display: flex;
  flex-direction: column;
  background-image: url('/images/kitchentable.jpg');
  background-size: contain;
}

.filters {
}

.ingredientsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
