.RecentOrders {
  display: flex;
  flex-direction: column;
  background-image: url('https://i.imgur.com/1TEjAN5.jpg');
  background-size: cover;
}

.filters {
  font-size: 1.5rem;
}

.table {
  margin-top: 2rem;
  padding: 2rem;
  display: grid;
  background-color: rgba(255, 255, 255, 0.75);
  grid-template-columns: repeat(6, auto);
}

.table b {
  padding: 1.2rem;
}

.table span {
  padding: 1.2rem;
}
