.RecentOrders {
  display: flex;
  flex-direction: column;
  background-image: url('https://i.imgur.com/1TEjAN5.jpg');
  background-size: cover;
}

.filters {
}

.table {
  margin-top: 2rem;
  padding: 2rem;
  display: grid;
  background-color: #fafafa;
  grid-template-columns: repeat(7, auto);
  box-shadow: 0 0 6px black;
  border-radius: 5px;
}

.table b {
  padding: 0.5rem;
}

.table span {
  padding: 1rem;
}
