.RolePicker {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  max-height: 70vh;
  max-width: 40vw;
  background-color: white;
  background-position: 0 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: flex-end;
  margin: 2rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  animation-name: blink;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    box-shadow: 0 0 10px black;
  }
  50% {
    box-shadow: 0 0 10px blue;
  }
  100% {
    box-shadow: 0 0 10px yellowgreen;
  }
}

.RolePicker:hover {
  transform: scale(1.3, 1.3);
  transition: transform 400ms;
}

.RolePicker h1 {
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 1rem;
}
