.Suppliers {
  display: flex;
  flex-direction: column;
  background-image: url('https://i.imgur.com/1TEjAN5.jpg');
  background-size: cover;
}

.filters {
}

.supplierList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
