.SupplierCard {
  display: flex;
  border: 3px solid white;
  border-radius: 2px;
  margin: 1rem;
  background-color: white;
  flex-direction: column;
  min-width: 350px;
  max-width: 500px;
  overflow: hidden;
  box-shadow: 0 0 10px black;
}

.poster {
  height: 250px;
}

.details {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.details p {
  margin: 5px;
}

.details h1 {
  margin-top: 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 1rem;
}

.productPoster {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background-size: contain !important;
  background-position: left !important;
}

.variety {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  font-size: small;
}

.SupplierCard button {
  margin: 5px;
  padding: 5px;
  margin-left: 0;
  align-self: flex-start;
  font-weight: bold;
  box-shadow: none;
}

.buttons {
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.buttons button:hover {
  transform: rotateZ(360deg);
  transition: transform 600ms;
  background-color: unset;
}

.buttons button:first-child {
  fill: green;
}

.buttons button:nth-child(2) {
  background-color: white;
}

.buttons button:nth-child(3) {
  fill: #333;
}

.buttons button:last-child {
  fill: crimson;
}
